<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wasu.vrsite.dao.RecommendMapper" >
  <resultMap id="BaseResultMap" type="com.wasu.vrsite.entity.Recommend" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="poster1" property="poster1" jdbcType="VARCHAR" />
    <result column="poster2" property="poster2" jdbcType="VARCHAR" />
    <result column="poster3" property="poster3" jdbcType="VARCHAR" />
    <result column="poster4" property="poster4" jdbcType="VARCHAR" />
    <result column="poster5" property="poster5" jdbcType="VARCHAR" />
    <result column="poster6" property="poster6" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, uid, poster1, poster2, poster3, poster4, poster5, poster6, description, 
    type, status, gmt_create, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wasu.vrsite.entity.RecommendExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vr_recommend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vr_recommend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vr_recommend
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wasu.vrsite.entity.RecommendExample" >
    delete from vr_recommend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wasu.vrsite.entity.Recommend" >
    insert into vr_recommend (id, name, uid, 
      poster1, poster2, poster3, 
      poster4, poster5, poster6, 
      description, type, status, 
      gmt_create, gmt_modified)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, 
      #{poster1,jdbcType=VARCHAR}, #{poster2,jdbcType=VARCHAR}, #{poster3,jdbcType=VARCHAR}, 
      #{poster4,jdbcType=VARCHAR}, #{poster5,jdbcType=VARCHAR}, #{poster6,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wasu.vrsite.entity.Recommend" >
    insert into vr_recommend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="poster1 != null" >
        poster1,
      </if>
      <if test="poster2 != null" >
        poster2,
      </if>
      <if test="poster3 != null" >
        poster3,
      </if>
      <if test="poster4 != null" >
        poster4,
      </if>
      <if test="poster5 != null" >
        poster5,
      </if>
      <if test="poster6 != null" >
        poster6,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="poster1 != null" >
        #{poster1,jdbcType=VARCHAR},
      </if>
      <if test="poster2 != null" >
        #{poster2,jdbcType=VARCHAR},
      </if>
      <if test="poster3 != null" >
        #{poster3,jdbcType=VARCHAR},
      </if>
      <if test="poster4 != null" >
        #{poster4,jdbcType=VARCHAR},
      </if>
      <if test="poster5 != null" >
        #{poster5,jdbcType=VARCHAR},
      </if>
      <if test="poster6 != null" >
        #{poster6,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wasu.vrsite.entity.RecommendExample" resultType="java.lang.Integer" >
    select count(*) from vr_recommend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vr_recommend
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.poster1 != null" >
        poster1 = #{record.poster1,jdbcType=VARCHAR},
      </if>
      <if test="record.poster2 != null" >
        poster2 = #{record.poster2,jdbcType=VARCHAR},
      </if>
      <if test="record.poster3 != null" >
        poster3 = #{record.poster3,jdbcType=VARCHAR},
      </if>
      <if test="record.poster4 != null" >
        poster4 = #{record.poster4,jdbcType=VARCHAR},
      </if>
      <if test="record.poster5 != null" >
        poster5 = #{record.poster5,jdbcType=VARCHAR},
      </if>
      <if test="record.poster6 != null" >
        poster6 = #{record.poster6,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vr_recommend
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=INTEGER},
      poster1 = #{record.poster1,jdbcType=VARCHAR},
      poster2 = #{record.poster2,jdbcType=VARCHAR},
      poster3 = #{record.poster3,jdbcType=VARCHAR},
      poster4 = #{record.poster4,jdbcType=VARCHAR},
      poster5 = #{record.poster5,jdbcType=VARCHAR},
      poster6 = #{record.poster6,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wasu.vrsite.entity.Recommend" >
    update vr_recommend
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="poster1 != null" >
        poster1 = #{poster1,jdbcType=VARCHAR},
      </if>
      <if test="poster2 != null" >
        poster2 = #{poster2,jdbcType=VARCHAR},
      </if>
      <if test="poster3 != null" >
        poster3 = #{poster3,jdbcType=VARCHAR},
      </if>
      <if test="poster4 != null" >
        poster4 = #{poster4,jdbcType=VARCHAR},
      </if>
      <if test="poster5 != null" >
        poster5 = #{poster5,jdbcType=VARCHAR},
      </if>
      <if test="poster6 != null" >
        poster6 = #{poster6,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wasu.vrsite.entity.Recommend" >
    update vr_recommend
    set name = #{name,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      poster1 = #{poster1,jdbcType=VARCHAR},
      poster2 = #{poster2,jdbcType=VARCHAR},
      poster3 = #{poster3,jdbcType=VARCHAR},
      poster4 = #{poster4,jdbcType=VARCHAR},
      poster5 = #{poster5,jdbcType=VARCHAR},
      poster6 = #{poster6,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>